 /* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap'); */

/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
} */

.friend-form {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding-top: 100px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
} 

.friend-container{
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.friend-container .friend-title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
/* .friend-container .friend-title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
} */
.friend-content form .friend-user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .friend-user-details .friend-input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .friend-input-box span.friend-details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.friend-user-details .friend-input-box input,
.friend-user-details .friend-input-box textarea{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.friend-user-details .friend-input-box input:focus,
.friend-user-details .friend-input-box input:valid{
  border-color: #9b59b6;
}
 form .friend-gender-details .friend-gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .friend-category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .friend-category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .friend-category label .friend-dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .friend-category label .one,
 #dot-2:checked ~ .friend-category label .two,
 #dot-3:checked ~ .friend-category label .three{
   background: #9b59b6;
   border-color: #d9d9d9;
 }
 form input[type="radio"]{
   display: none;
 }
 form .friend-button{
   height: 45px;
   margin: 35px 0
 }
 form .friend-button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #71b7e6, #9b59b6);
 }
 form .friend-button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  }
 @media(max-width: 584px){
 .friend-container{
  max-width: 100%;
}
form .friend-user-details .friend-input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .friend-category{
    width: 100%;
  }
  .friend-content form .friend-user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .friend-user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .friend-container .friend-content .friend-category{
    flex-direction: column;
  }
}
